#adminmenu li.wp-menu-separator {
  margin: 1rem 0;
  height: 1px;
}

#adminmenu div.separator {
  height: 1px;
  background: #fff;
  opacity: 0.25;
}

#wpadminbar {
  background: #212e3b;
}

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  background: #2c3e50;
}

#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu,
.no-js li.wp-has-current-submenu:hover .wp-submenu {
  background: #34495e;
}

#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  background: #f39c12;
  color: #212e3b;
  font-weight: bold;
}

#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus {
  color: #fff;
  background: #212e3b;
}

#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus {
  color: #fff;
}

#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before {
  color: #fff;
}

#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
  content: '\f16a';
}
