/*
** Input placeholders
*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ccc;
}


/*
** Picture option
*/
.rudno_waste_picture .rudno_waste_picture_wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.rudno_waste_picture_wrapper .rudno_waste_picture_preview {
  position: relative;
  background: #eee;
  border: 1px solid #ddd;
  width: 7rem;
  height: 7rem;
  margin: 0;
  margin-right: 1rem;
}

.rudno_waste_picture_preview img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.rudno_waste_picture_wrapper .rudno_waste_picture_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.rudno_waste_picture_form input[type="text"] {
  margin-bottom: 1rem;
}


/*
** Opening hours option
*/
.rudno_waste_opened .rudno_waste_opened_wrapper {
  padding: 1rem;
  background: #eee;
  border: 1px solid #ddd;
}

.rudno_waste_opened_wrapper .rudno_waste_opened_day_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.rudno_waste_opened_day_wrapper label {
  display: inline-block;
  min-width: 3rem;
  font-weight: bold;
}

.rudno_waste_opened_day_wrapper span {
  display: inline-block;
  width: 168px;
  font-style: italic;
  margin: 0 1px;
}
