.wp-block-rudno-document {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: $radius;
  border: 1px solid $border-color;
  padding: 1rem;
  text-decoration: none;
  transition: all 0.1s;

  @include media-breakpoint-up(lg) {
    padding: 1.5rem;
  }

  &__label {
    display: block;
    font-family: $titles-font-family;
    font-size: 1.25rem !important;
    line-height: 1.2 !important;
    font-weight: 700 !important;
    color: $primary !important;
  }
}
