@import url("https://fonts.googleapis.com/css?family=Literata:400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,900&display=swap");

/** Root elements */
html {
  font-size: 15px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: $bg-color;
  font-family: $body-font-family;
}

/** Typography */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $titles-font-family;
  color: $text-title;
  line-height: 1.2;
  font-weight: 900;
}

h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2 {
  font-size: 2.25rem;
}

h3,
.h3 {
  font-size: 2rem;
}

h4,
.h4 {
  font-size: 1.75rem;
}

h5,
.h5 {
  font-size: 1.5rem;
}

h6,
.h6 {
  font-size: 1.25rem;
}

p {
  font-family: $body-font-family;
  color: $text-body;
  line-height: 1.5;
}

small {
  font-size: 0.875rem;
  line-height: 1.5;
}

/** Utilities */
.horizontal-scroll-wrapper {
  overflow-y: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
}

.horizontal-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.border-theme-color {
  border-color: $text-muted-dark-bg !important;
}

.text-white {
  color: #fff !important;
}

.text-muted-dark-bg {
  color: $text-muted-dark-bg !important;
}

.text-muted-light-bg {
  color: $text-muted-light-bg !important;
}

.text-brand-orange {
  color: $brand-orange-dark !important;
}

.rounded {
  border-radius: 2px !important;
}

.bg-white .border-on-white-bg {
  border: 1px solid $text-muted-dark-bg !important;
}

// Zoomable images z-index fix
.medium-zoom-overlay {
  z-index: 1100;
}

.medium-zoom-image--opened {
  z-index: 1110;
  object-fit: contain !important;
}
