@import "common/variables";

/** Import everything from autoload */
@import "./autoload/bootstrap";

// iv viewer plugin
@import "iv-viewer/dist/iv-viewer.css";
@import "glightbox/dist/css/glightbox.css";

/** Import theme styles */
@import "common/global";
@import "common/grid-overload";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "components/crossroad";
@import "components/breadcrumb";
@import "components/home-header";
@import "components/page-header";
@import "components/fancy-header";
@import "components/warning";
@import "components/event";
@import "components/news";
@import "components/gallery";
@import "components/icon";
@import "components/tile-link";
@import "components/big-icon-link";
@import "components/filter";
@import "components/person";
@import "components/image-card";
@import "components/empty-state";
@import "components/pagination";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
