.b-big-icon-link {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: $radius;
  padding: 1rem;
  text-decoration: none;
  transition: all 0.1s;
}

@media (min-width: 992px) {
  .b-big-icon-link {
    padding: 1.5rem;
  }
}

.b-big-icon-link__icon {
  color: $brand-blue;
  margin-right: 1rem;
}

.b-big-icon-link__label {
  font-family: $titles-font-family;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 700;
  color: $primary;
}

.b-big-icon-link:hover {
  background-color: $primary;
  border-color: $primary;
}

.b-big-icon-link:hover .b-big-icon-link__icon,
.b-big-icon-link:hover .b-big-icon-link__label {
  color: #fff;
}
