.btn {
  font-family: $titles-font-family;
  border-radius: 2px;
  font-weight: 500;
  line-height: 1;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
}

.btn.btn-primary:hover {
  background-color: $primary-dark;
  border-color: $primary-dark;
}

a,
.btn-link {
  text-decoration: underline;
}

a:hover,
.btn-link:hover {
  color: $primary-dark;
  text-decoration: none;
}

.btn-outline-secondary {
  color: $text-title;
}

.btn-outline-secondary:hover {
  color: $primary;
  background-color: #fff;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active {
  background-color: $brand-blue;
  color: #fff;
  border-color: $brand-blue;
}

.btn-group > .btn {
  margin-left: 0 !important;
}

.btn-group > .btn:not(:last-child) {
  border-right: 0;
}

.btn-group > .btn:not(:first-child) {
  border-left: 0;
}

/*
**   Wordpress's default gutenberg button
*/
.wp-block-button__link {
  @extend .btn;
  @extend .btn-primary;
}
