.b-empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: $radius;
  padding: 3rem;
}

.b-empty-state__icon {
  color: $text-muted-dark-bg;
}

.b-empty-state__title {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.b-empty-state__subtitle {
  text-align: center;
  margin-bottom: 0;
}

.b-empty-state__search {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
