/** Event items */
.b-event {
  background: #fff;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s;
}

.b-event__image {
  position: relative;
  width: 100%;
  height: 10rem;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 2px 2px 0 0;
}

.b-event__image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(52, 73, 94, 0.8), rgba(52, 73, 94, 0));
  border-radius: 2px 2px 0 0;
  transition: all 0.3s;
}

.b-event__info {
  padding: 1.5rem;
  flex-grow: 1;
  border-radius: 0 0 2px 2px;
}

.b-event__title {
  color: $primary;
  font-family: $titles-font-family;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 900;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.b-event__time {
  margin-bottom: 0.5rem;
}

.b-event__place {
  margin-bottom: 0;
}

.b-event:hover {
  box-shadow: 0 5px 30px rgba(52, 73, 94, 0.2);
  z-index: 1;
}

.b-event:hover .b-event__title {
  text-decoration: none;
}

.b-event:hover .b-event__image::before {
  background: transparent;
}

/** Event archive */
@media (min-width: 768px) {
  .events-month-headline {
    position: absolute;
    transform-origin: top left;
    -ms-transform: rotate(-90deg) translateX(-100%);
    -webkit-transform: rotate(-90deg) translateX(-100%);
    transform: rotate(-90deg) translateX(-100%);
  }
}
