.b-fancy-header {
  height: 20rem;
  position: relative;

  &__image,
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__image {
    background-size: cover;
    background-position: 50% 50%;
  }

  &__image::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(52, 73, 94, 0.8), rgba(52, 73, 94, 0));
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem 0;
  }

  &__title {
    @extend .container;

    color: #fff;
  }
}
