/** Search form */
.b-search-form__field-wrapper {
  display: flex;
  background-color: $text-muted-dark-bg;
}

.b-search-form__field {
  flex-grow: 1;
  background-color: transparent;
  border: 0;
  padding: 0 0.5rem;
  margin: 0;
  color: $text-body;
  font-weight: 600;
}

.b-search-form__field::placeholder {
  color: $text-body;
  opacity: 0.75;
}

.b-search-form__button {
  @extend .btn;

  padding-right: 0;
  padding-left: 0;
}

.b-search-form__button-icon {
  margin-right: 0.5rem;
}
