.b-gallery {
  background: #fff;
  border-radius: $radius;
  box-shadow: 2px 2px 4px rgba(52, 73, 94, 0.12);
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  transition: all 0.1s;
}

.b-gallery__image {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  padding-bottom: 100%;
}

.b-gallery__image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(52, 73, 94, 0.8), rgba(52, 73, 94, 0));
  transition: all 0.1s;
}

.b-gallery__title {
  margin-top: 1rem;
  color: $primary;
  font-family: $titles-font-family;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  text-decoration: underline;
}

.b-gallery:hover {
  box-shadow: 0 5px 30px rgba(52, 73, 94, 0.2);
  z-index: 1;
}

.b-gallery:hover .b-gallery__image::before {
  background: transparent;
}

.b-gallery:hover .b-gallery__title {
  text-decoration: none;
}

.fotorama__wrap {
  margin: 0 auto;
}
