.b-home-header {
  height: 25rem;
  position: relative;
}

.b-home-header__image,
.b-home-header__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.b-home-header__image {
  background-size: cover;
  background-position: 50% 50%;
}

.b-home-header__image::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(52, 73, 94, 0.8), rgba(52, 73, 94, 0));
}

.b-home-header__content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 3rem 0;
}

.b-home-header__title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

.b-home-header__pretitle {
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  .b-home-header__title {
    font-size: 4rem;
  }

  .b-home-header__pretitle {
    font-size: 1.75rem;
  }
}
