.iconify.icon-regular {
  font-size: 1rem;
  height: 1rem;
}

.iconify.icon-big,
.iconify.icon-md-huge {
  font-size: 1.5rem;
  height: 1.5rem;
}

.iconify.icon-huge {
  font-size: 3rem;
  height: 3rem;
}

@media (min-width: 768px) {
  .iconify.icon-md-huge {
    font-size: 3rem;
    height: 3rem;
  }
}
