.b-page-header {
  background-color: #fff;
}

.b-page-header__container {
  @extend .container;

  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.b-page-header__image {
  width: 100%;
  height: 14rem;
  background-size: cover;
  background-position: 50% 50%;
}

.b-page-header__title,
.b-page-header__subtitle {
  padding: 0;
  margin: 0;
}

.b-page-header__subtitle {
  padding-top: 1rem;
  font-style: italic;
}
