.nr-banner {
  position: relative;
  background-color: #fff;
  padding-top: $header-height;

  @include media-breakpoint-up(lg) {
    padding-top: calc(#{$header-height} * 1.5);
  }

  &__base-menu {
    background-color: #fff;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: $header-height;
    padding-top: 1rem;
    z-index: 100;

    @include media-breakpoint-up(lg) {
      padding-top: 1.5rem;
      min-height: calc(#{$header-height} * 1.5);
    }

    &--shadow {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.02);
    }

    & .nav-link {
      @extend .nav-link;

      font-family: $body-font-family;
      color: $primary-dark;
      font-weight: 500;
      text-decoration: underline;

      @include hover() {
        text-decoration: none;
      }
    }

    & .big-nav-link {
      @extend .h6;

      display: inline-block;
      text-decoration: underline;

      @include hover() {
        text-decoration: none;
        color: $primary-dark;
      }

      &[aria-expanded="true"] {
        color: $text-muted-light-bg;
        text-decoration: none;
      }
    }
  }

  &__container {
    @include make-container();
    @include make-container-max-widths();

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-up(md) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 1.5rem;
    }
  }

  &__brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: $text-title;

    @include hover() {
      text-decoration: none;
      color: $primary-dark;
    }

    @include media-breakpoint-up(lg) {
      width: 15%;
    }

    &-logo {
      margin-right: 1rem;
      float: left;
    }

    &-title {
      display: none;
      max-width: 10rem;
      font-family: $titles-font-family;
      color: inherit;
      font-size: 1rem;
      line-height: 1.2;
      font-weight: 900;
      white-space: normal;
      text-decoration: none;
      text-transform: uppercase;
      margin-bottom: 0;

      @include media-breakpoint-up(md) {
        display: inline-block;
      }
    }
  }

  &__nav {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    @include media-breakpoint-up(lg) {
      display: flex;
      width: 70%;
    }

    &-item {
      @extend .nav-item;
    }

    &-link {
      font-family: $titles-font-family;
      font-size: 1rem;
      font-weight: 500;
      color: $text-body;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      text-decoration: none;

      @include hover() {
        color: $primary-dark;
      }

      &--active,
      &[aria-expanded="true"] {
        font-weight: 700;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    @include media-breakpoint-up(lg) {
      width: 15%;
    }
  }

  &__action-btn {
    @extend .btn;

    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $titles-font-family;
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    margin-left: 1rem;
    padding: 1rem 0;

    @include hover() {
      color: $primary-dark;
      text-decoration: underline;
    }
  }
}

#desktop-accordion .collapsing {
  -webkit-transition: display 0.5s;
  transition: display 0.5s;
}

/** Search modal */
#search-modal .modal-dialog {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#search-modal .modal-content {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
}

#search-modal input {
  font-size: 1.25rem;
  font-family: $titles-font-family;
  color: $text-title;
  font-weight: 700;
}

#search-modal input:focus {
  outline: 0;
}

#search-modal input::placeholder {
  color: $text-muted-light-bg;
}

#search-modal input:focus::placeholder {
  color: $text-muted-dark-bg;
}

@media (min-width: 768px) {
  #search-modal input {
    font-size: 2rem;
  }
}

#search-modal .input-wrapper {
  border-bottom: 0.25rem solid $brand-blue;
}
