.b-default-page-content {
  background: #fff;

  // Headlines
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    margin-bottom: 1rem;
  }

  // Base paragraph
  & > p {
    font-size: 1.25rem;
    margin-bottom: 3rem;
  }

  // Image and Image Gallery
  & > .wp-block-image,
  & > .wp-block-gallery {
    padding: 0 1.5rem;
    margin-bottom: 3rem;
    display: grid;
    gap: 0.5rem;
    align-items: stretch;

    grid-template-columns: repeat(1, 1fr);

    &.columns-4 {
      @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &.columns-3 {
      @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &.columns-2 {
      @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    & > .wp-block-image {
      height: 100%;
      margin: 0;

      & > a {
        display: block;
        height: 100%;
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    @include media-breakpoint-up(lg) {
      padding: 0 3rem;
    }

    & figcaption {
      text-align: center;
      color: $text-muted-light-bg;
      font-size: 0.875rem;
      line-height: 1.5;
      width: 100%;
    }
  }

  // Ordered or Unordered list
  & > ol,
  & > ul {
    padding: 0;
    margin-bottom: 3rem;
    list-style: none;
    counter-reset: list-counter;

    & li {
      margin-left: 3rem;
      margin-bottom: 1rem;
    }

    & li::before {
      position: absolute;
      display: inline-block;
      width: 5rem;
      margin-left: -5rem;
      text-align: right;
      box-sizing: border-box;
      padding-right: 1.5rem;
    }
  }

  // Custom list-style-type
  & > ol li::before {
    content: counter(list-counter) ".";
    counter-increment: list-counter;
    font-weight: 700;
    color: $brand-blue;
  }

  & > ul li::before {
    content: "—";
    color: $brand-blue;
  }

  // Blockquote
  & > blockquote,
  & > .wp-block-quote {
    text-align: center;
    padding: 0 1.5rem;
    margin-bottom: 3rem;

    @include media-breakpoint-up(lg) {
      padding: 0 3rem;
    }

    & p {
      font-style: italic;
      font-weight: 600;
      font-size: 1.5rem;
      color: $text-muted-light-bg;

      @include media-breakpoint-up(lg) {
        font-size: 2rem;
      }
    }

    & p::before {
      content: "„";
    }

    & p::after {
      content: "“";
    }

    & cite {
      font-style: normal;
      font-weight: 700;
      font-size: 0.875rem;
    }
  }

  & > .wp-block-table {
    display: flex;
    justify-content: center;

    & > table {
      border-collapse: separate;
      border-spacing: 1rem .5rem;
    }
  }
}

.b-widepage-content {
  background: #fff;

  // Headlines
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // Base paragraph
  & > p {
    font-size: 1.25rem;
    margin-bottom: 3rem;

    @include media-breakpoint-up(md) {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // Image and Image Gallery
  & > .wp-block-image,
  & > .wp-block-gallery {
    padding: 0 1.5rem;
    margin-bottom: 3rem;
    display: grid;
    gap: 0.5rem;
    align-items: stretch;

    grid-template-columns: repeat(1, 1fr);

    &.columns-4 {
      @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &.columns-3 {
      @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &.columns-2 {
      @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    & > .wp-block-image {
      height: 100%;
      margin: 0;

      & > a {
        display: block;
        height: 100%;
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    @include media-breakpoint-up(lg) {
      padding: 0 3rem;
    }

    & figcaption {
      text-align: center;
      color: $text-muted-light-bg;
      font-size: 0.875rem;
      line-height: 1.5;
      width: 100%;
    }
  }

  // Ordered or Unordered list
  & > ol,
  & > ul {
    padding: 0;
    margin-bottom: 3rem;
    list-style: none;
    counter-reset: list-counter;

    @include media-breakpoint-up(md) {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }

    & li {
      margin-left: 3rem;
      margin-bottom: 1rem;
    }

    & li::before {
      position: absolute;
      display: inline-block;
      width: 5rem;
      margin-left: -5rem;
      text-align: right;
      box-sizing: border-box;
      padding-right: 1.5rem;
    }
  }

  // Custom list-style-type
  & > ol li::before {
    content: counter(list-counter) ".";
    counter-increment: list-counter;
    font-weight: 700;
    color: $brand-blue;
  }

  & > ul li::before {
    content: "—";
    color: $brand-blue;
  }

  // Blockquote
  & > blockquote,
  & > .wp-block-quote {
    text-align: center;
    padding: 0 1.5rem;
    margin-bottom: 3rem;

    @include media-breakpoint-up(md) {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }

    @include media-breakpoint-up(lg) {
      padding: 0 3rem;
    }

    & p {
      font-style: italic;
      font-weight: 600;
      font-size: 1.5rem;
      color: $text-muted-light-bg;

      @include media-breakpoint-up(lg) {
        font-size: 2rem;
      }
    }

    & p::before {
      content: "„";
    }

    & p::after {
      content: "“";
    }

    & cite {
      font-style: normal;
      font-weight: 700;
      font-size: 0.875rem;
    }
  }

  & > .wp-block-table {
    display: flex;
    justify-content: center;

    & > table {
      border-collapse: separate;
      border-spacing: 1rem .5rem;
    }
  }
}
